# ISE build artifacts
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.bgn
*.bld
*.bit
*.pad
*.par
*.pcf
*.drc
*.map*
*.mrp
*.stx
*.syr
*.twr
*.twx
*.ptwx
*.unroutes
*.ut
*.xpi
*.xst
*.prj
*.lso
*.bmm
*_summary.html
*_summary.xml
*.xrpt
*.xreport
*_pad.csv
*_pad.txt
*_envsettings.html
webtalk*.xml
webtalk*.log
usage_statistics_webtalk.html
par_usage_statistics.html
_xmsgs/
_ngo/
xlnx_auto_0_xdb/
xst/
iseconfig/
sim_test/
isim.wdb
*_isim_beh1.wdb
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
impact_impact.xwbt
impact.xsl
*.gise

# Core Generator build junk (keep .xco / coregen.cgp, ignore the rest)
ipcore_dir/*/tmp/
ipcore_dir/*/_xmsgs/
ipcore_dir/tmp/
ipcore_dir/_xmsgs/
ipcore_dir/coregen.log
